/* Reset default styles */
* {
    margin: 0;
    padding: 0;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    position: relative;
    min-height: 100vh;
}

/* Header */
header {
    padding: 1em;
    padding-bottom: 0;
}

/* Main Content */
main {
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: center;

}

/* Form Container */
.form-container {
    width: 100%;
    max-width: 600px;
}

.form-container input,
.form-container textarea,
.form-container button {
    display: block;
    width: calc(100% - 50px);
    max-width: 400px;
    margin-bottom: 1em;
    padding: 0.5em;
    font-size: 1.2em;
}

label {
    font-size: 1.2em;
}

/* Preview Container */
.preview-container {
    width: 100%;
    max-width: 500px;
}

#app-footer {
    padding-left: 1em;
    position: absolute;
    bottom: 0;
    width: calc(100vw - 1em);
    height: 2.5rem;
    /* Footer height */
}

#exportButton {
    width: 200px;
}

/* Responsive design */
@media (min-width: 768px) {
    main {
        flex-direction: row;
        align-items: flex-start;
    }
}